@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */

/* General styling for the app */
body {
    @apply bg-gray-100 font-sans text-gray-800;
    padding: 0;
    overflow-x: hidden; 
    margin: 0;
}

/* Responsive styles */
@media (min-width: 640px) {
    .App {
        @apply flex-row; /* Adjust layout on larger screens if needed */
    }
}
